server:
  port: 9100
spring:
  application:
    name: product-service
  datasource:
    password: Root@123
    username: root
    url: jdbc:mysql://localhost:3306/ecom
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true


#eureka:
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:8761/eureka/

# Eureka Client Configuration - Disable it for testing
eureka:
  client:
    enabled: false
